/* ESTILOS GENERALES */

:root {
  --color-principal: #ffffff;
  --color-secondary: #04b4e0;

  --color-background: #f2f7f9;
  --color-transparent: transparent;

  --color-icon: #b5b6b7;
  --color-title: #222222;
  --color-subtitle: #888;
  --color-text: #555;

  --color-border-reviews: #e5e6e7;
  --color-company: #a5a6a7;
}

html {
  font-size: 10px;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: var(--color-background);
  color: var(--color-text);

  background-image: url(assets/img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -20px -120px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}
/* ESTRUCTURA PRINCIPAL */
.layout {
  position: relative;
  min-width: 1290px;
  width: 75%;
  height: 80vh;
  min-height: 80vh;
  margin: 10vh auto;
  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 30% 70%;

  border-radius: 4rem;
  box-shadow: 0 0 100px -5px rgb(0, 0, 0, 0.25);
}
/* BARRA LATERAL AZUL */
.layout__aside {
  grid-area: aside;

  border-radius: 4rem 0 0 4rem;
  overflow: auto;
  overflow-x: hidden;
}
.layout__content {
  grid-area: content;
  height: 100%;
  min-height: 100%;

  background-color: var(--color-secondary);
  border-radius: 0 10rem 10rem 0;
}
.content__page {
  background-color: var(--color-principal);
  min-height: 100%;
  border-radius: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page__name {
  font-size: 6rem;
  margin-bottom: 1rem;
}
.page__job {
  display: flex;
}
.page__img{
  width: 80%;
  margin-top: 4rem;
}
.aside__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  min-height: 100%;
  min-width: 30rem;

  background-color: var(--color-secondary);
  color: var(--color-principal);
}
.user-info__container-image {
  position: relative;
  display: inline-block;
  width: 18rem;
  margin-top: 7rem;
  z-index: 1;
}
.user-info__container-image::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 9%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #fff,
    #fff 1px,
    transparent 0px,
    transparent 100%
  );
  opacity: 0.3;
  background-size: 0.6rem 0.6rem;
  border-radius: 30rem;
}
.user-info__image {
  width: 100%;
  background-color: var(--color-principal);
  border: 3px solid var(--color-principal);
  border-radius: 20rem;
}
.user-info__name {
  color: var(--color-principal);
  font-size: 3.2rem;
  font-weight: bold;
  margin-top: 2.6rem;
}
.user-info__job {
  font-size: 1.7rem;
  font-weight: 200;
  color: var(--color-principal);
}
.user-info__links {
  margin-bottom: 3.6rem;
}
.links__social {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
.social__options {
  height: 3rem;
  width: 3rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
  opacity: 0.9;
  border-radius: 3rem;
  transition: all 300ms ease-in-out;
}
.social__options:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}
.user-info__button {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.user-info__btn {
  border: 2px solid var(--color-principal);
  padding: 3rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  border: 2px solid var(--color-principal);
  border-radius: 3.2rem;
  color: var(--color-principal);
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
  transition: all 300ms ease-in-out;
}
.user-info__btn:hover {
  background-color: var(--color-principal);
  color: var(--color-secondary);
}
.user-info__footer {
  position: absolute;
  bottom: 2rem;
  font-size: 1.2rem;
}
/* NAV BAR */
.user-info__menu {
  display: block;
  position: absolute;
  top: 0;
  right: -90px;
  background-color: var(--color-transparent);
  min-height: 11rem;
  width: 8%;
}
.menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 60%;
  min-height: 32rem;
  background-color: var(--color-principal);
  padding: 2rem 0;
  margin-left: 2.5rem;
  box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 6rem;
}
.menu__option {
  display: block;
  width: 100%;
  text-align: center;
  transition: all 300ms ease-in-out;
}
.menu__option:hover .menu__icon {
  color: var(--color-secondary);
}
.menu__icon {
  color: var(--color-icon);
  font-size: 2.8rem;
}
.menu__overlay {
  position: absolute;
  right: 0;
  margin-top: -3rem;
  opacity: 0;
  display: block;
  padding: 0.5rem 1rem;
  color: var(--color-principal);
  background-color: var(--color-secondary);
  white-space: nowrap;
  transition: all 200ms ease-in-out;
}
.menu__option:hover .menu__overlay {
  opacity: 1;
  right: 100%;
}

/* ABOUT ME */

.title__color {
  color: var(--color-secondary);
}

.content__about,
.content__resume {
  display: block;
  overflow: auto;
  min-height: 100%;
  padding: 6rem;
  padding-right: 3rem;
  height: 100%;
}

.about__header,
.resume__header {
  display: inline-block;
  margin-bottom: 4.5rem;
}

.about__title,
.resume__title {
  font-size: 3.2rem;
  position: relative;
}

.about__title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 30px;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    var(--color-secondary) 1px,
    var(--color-secondary) 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 6px 6px;
}

/* DESCRIPTION */

.about__personal-info {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 5rem;
}

.personal-info__bio {
  flex-basis: 55%;
}

.personal-info__description {
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.personal-info__data {
  flex-basis: 45%;
  padding: 0 1.5rem;
}

.personal-info__option {
  margin-bottom: 1rem;
}

.personal-info__title {
  margin-right: 0.5rem;
  color: var(--color-secondary);
  font-weight: 600;
}

/* SERVICIOS */
.about__services,
.about__reviews,
.resume__studies {
  width: 100%;
  margin-bottom: 3rem;
}
.services__header,
.reviews__header {
  display: inline-block;
  padding-right: 1.2rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.services__title,
.reviews__tile {
  font-size: 2.1rem;
}

.services__icon .fa-solid {
  color: var(--color-secondary);
  font-size: 3.8rem;
}

.services__container,
.resume__container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.services__service,
.resume__school {
  flex-basis: calc(50% - 3rem);
  margin-right: 3rem;
  margin-bottom: 2.5rem;
}

.services__title {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.services__description {
  font-size: 1.5rem;
}

/* RESEÑAS */
.reviews__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reviews__reviews {
  flex-basis: calc(50% - 2.5rem);

  border: 2px solid var(--color-border-reviews);
  border-radius: 2rem;
  padding-top: 0;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  padding-bottom: 1.5rem;
  margin-right: 2.5rem;
  margin-top: 4.5rem;
  margin-bottom: 1rem;
}

.reviews__img-container {
  width: 100%;
}

.reviews__img {
  max-width: 9rem;
  max-height: 9rem;
  border-radius: 9rem;
  margin: 0 auto;
  margin-top: -4.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
}

.reviews__description {
  margin-bottom: 1rem;
}

.reviews__text {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.reviews__author {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviews__name {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.revuews__company {
  color: var(--color-company);
  font-weight: 300;
  font-size: 1.3rem;
}

.reviews__icon {
  font-size: 4rem;
  opacity: 0.5;
  color: var(--color-secondary);
}


.resume__section-title{
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.resume__section-subtitle-1{
  color: var(--color-secondary);
  font-weight: 300;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.resume__section-subtitle-2{
  color: var(--color-company);
  font-weight: 300;
  font-size: 1.3rem;
}


.resume__skills-category {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.resume__skills-category h3 {
  font-size: 2.4rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.resume__skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.resume__skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  text-align: center;
  margin: 2rem;
}

.resume__skill-item i {
  font-size: 4.8rem;
  margin-bottom: 1rem;
}

.resume__skill-item p {
  font-size: 1.6rem;
  color: #333;
}
